// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2025 Renesas Electronics Corporation
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/rzv2h-pinctrl.h>

/ {
    fragment@0 {
        target = <&rcar_sound>;
        __overlay__ {
            pinctrl-0 = <&sound_pins>;

            ports {
                rsnd_port0: port@0 {
                    rsnd_endpoint0: endpoint {
                        remote-endpoint = <&da7219_endpoint>;
                        mclk-fs = <256>;
                    };
                };
            };
        };
    };

    fragment@1 {
        target = <&adv7535>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@2 {
        target = <&rsci_i2c7>;
        __overlay__ {
            da7219: da7219@1a {
                #address-cells = <1>;
                #size-cells = <0>;

                port {
                    da7219_endpoint: endpoint {
                        remote-endpoint = <&rsnd_endpoint0>;
                    };
                };
            };
        };
    };
};