// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Common device tree for the IMDT Renesas V2N or V2H SBCs
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 * Copyright (C) 2024 IMD Technologies Ltd.
 */

/* I2C7_SEL:
 *	0 - Use RS232 (default)
 *	1 - Use I2C7 for CSI camera slot 4
*/

#define I2C7_SEL	0

/ {
	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&mmp_reserved>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};

	reg_0p8v: regulator-0p8v {
		compatible = "regulator-fixed";

		regulator-name = "fixed-0.8V";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_audio_3v3: regulator2 {
		compatible = "regulator-fixed";
		regulator-name = "audio-3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_audio_1v8: regulator3 {
		compatible = "regulator-fixed";
		regulator-name = "audio-1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_1p8v_sdio: regulator4 {
		compatible = "regulator-fixed";
		regulator-name = "sdio-fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};
	reg_2p8v: regulator5 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-2.8V";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-boot-on;
		regulator-always-on;
	};
	reg_1p5v: regulator6 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.5V";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		// LDO_SEL1 input on RAA215300 PMIC
		gpios = <&pinctrl RZV2H_GPIO(A, 0) GPIO_ACTIVE_HIGH>;

		gpios-states = <0>;
		states = <3300000 0 1800000 1>;
	};

	vccq_sdhi1: regulator-vccq-sdhi1 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI1 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		// LDO_SEL2 input on RAA215300 PMIC
		gpios = <&pinctrl RZV2H_GPIO(A, 2) GPIO_ACTIVE_HIGH>;

		gpios-states = <0>;
		states = <3300000 0 1800000 1>;
	};

	wlan_en_pmic: wlan-en-1-8v {
		compatible = "regulator-fixed";

		regulator-name = "wlan-pmic-en-regulator";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pinctrl RZV2H_GPIO(7, 5) GPIO_ACTIVE_HIGH>;

		startup-delay-us = <100000>;
		enable-active-high;
	};

	// Regulator for the M2 Key M slot
	VM2M_3V3: VM2M_en-3-3v {
		compatible = "regulator-fixed";

		regulator-name = "V2M_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&m2_gpio 5 GPIO_ACTIVE_HIGH>;

		startup-delay-us = <5000>; /* Measured to take 0.5ms using a scope, set to 5ms so there's a safety factor to ensure the regulator is stable */
		enable-active-high;
	};

	clk_ext_camera: clk_ext_camera {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	vdd4g_0p8: vdd4g-0p8-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd4g-0p8";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd5g_1p8: vdd5g-1p8-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd5g-1p8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	// ov5645_vdddo_1v8: 1p8v {
	// 	compatible = "regulator-fixed";
	// 	regulator-name = "camera_vdddo";
	// 	regulator-min-microvolt = <1800000>;
	// 	regulator-max-microvolt = <1800000>;
	// 	regulator-always-on;
	// };

	// ov5645_vdda_2v8: 2p8v {
	// 	compatible = "regulator-fixed";
	// 	regulator-name = "camera_vdda";
	// 	regulator-min-microvolt = <2800000>;
	// 	regulator-max-microvolt = <2800000>;
	// 	regulator-always-on;
	// };

	// ov5645_vddd_1v5: 1p5v {
	// 	compatible = "regulator-fixed";
	// 	regulator-name = "camera_vddd";
	// 	regulator-min-microvolt = <1500000>;
	// 	regulator-max-microvolt = <1500000>;
	// 	regulator-always-on;
	// };

	/* input to the 5L35023B */
	x1_clk: x1-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	tlv320_xtal: tlv320_xtal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12288000>;
	};

	snd_rzv2h: sound {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "simple-audio-card";
		simple-audio-card,name = "rsnd_rzv2h";
		status="okay";
		simple-audio-card,widgets =
		"Microphone", "Microphone Jack",
		"Headphone", "Headphone Jack";
		simple-audio-card,routing =
		"Headphone Jack", "HPLOUT",
		"Headphone Jack", "HPROUT",
		"MIC2R", "Microphone Jack",
		"Microphone Jack", "Mic Bias";

			ssi_link: simple-audio-card,dai-link@0 {
				format = "i2s";
				reg = <0>;
				bitclock-master = <&cpu_dai0>;
				frame-master = <&cpu_dai0>;
				mclk-fs = <256>;
				
				cpu_dai0: cpu {
					sound-dai = <&rcar_sound>;
				};

				codec {
					sound-dai = <&tlv320aic3x>;
				};
			};
	};

	udmabuf@0 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf0";
		minor-number = <0>;
		size = <0x4000000>; // 64MiB
		dma-coherent;
		memory-region = <&image_buf0>;
	};

	dsi_adaptor_i2c: dsi_adaptor_i2c {
		compatible = "i2c-gpio";
		sda-gpios = <&pinctrl RZV2H_GPIO(2, 0) GPIO_ACTIVE_HIGH>;
		scl-gpios = <&pinctrl RZV2H_GPIO(2, 1) GPIO_ACTIVE_HIGH>;
		i2c-gpio,delay-us = <2>; /* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		adv7533: hdmi@39 {
			compatible = "adi,adv7533";
			reg = <0x39>;
			status = "okay";
			interrupt-parent = <&pinctrl>;
			interrupts = <RZV2H_GPIO(7, 1) IRQ_TYPE_LEVEL_LOW>;
			adi,dsi-lanes = <4>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					adv7533_in: endpoint@0 {
						remote-endpoint = <&dsi0_out>;
					};
				};

				port@1 {
					reg = <1>;
					adv7533_out: endpoint@1 {
						remote-endpoint = <&hdmi_con_out>;
					};
				};
			};
		};
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_out: endpoint {
				remote-endpoint = <&adv7533_out>;
			};
		};
	};
};

&audio_clka {
	/* output from 5L35023B */
	clock-frequency = <22579200>;
}; 

&pinctrl {
	can1_pins: can1 {
		pinmux = <RZV2H_PORT_PINMUX(8, 2, 5)>, /* TX */
		<RZV2H_PORT_PINMUX(8, 3, 5)>; /* RX */
	};

	scif_pins: scif {
		pins =  "SCIF_RXD", "SCIF_TXD";
	};

	sci0_pins: sci0 {
		pinmux = <RZV2H_PORT_PINMUX(5, 0, 1)>, /* SCI0_TXD_MOSI_SDA */
		<RZV2H_PORT_PINMUX(5, 1, 1)>; /* SCI0_RXD_MISO_SCL */
	};

	// TODO: these are used to communicate with the ISPs

	// sci4_pins: sci4 {
	// 	pinmux = <RZV2H_PORT_PINMUX(8, 4, 6)>, /* SCI4_TXD_MOSI_SDA */
	// 		 <RZV2H_PORT_PINMUX(8, 5, 6)>; /* SCI4_RXD_MISO_SCL */
	// };

	// TODO: these are used to communicate with the IMU

	// sci5_pins: sci5 {
	// 	pinmux = <RZV2H_PORT_PINMUX(8, 6, 6)>, /* SCI5_TXD_MOSI_SDA */
	// 		 <RZV2H_PORT_PINMUX(8, 7, 6)>; /* SCI5_RXD_MISO_SCL */
	// };

	sd0_pwr_en {
		gpio-hog;
		gpios = <RZV2H_GPIO(A, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd0_pwr_en";
	};

	sdhi0_emmc_pins: emmc-pins {
		sd0-dat-cmd {
			pins = "SD0DAT0", "SD0DAT1", "SD0DAT2", "SD0DAT3", "SD0DAT4",
					"SD0DAT5", "SD0DAT6", "SD0DAT7", "SD0CMD";
			input-enable;
			renesas,output-impedance = <3>;
			slew-rate = <0>;
		};

		sd0-clk {
			pins = "SD0CLK";
			renesas,output-impedance = <3>;
			slew-rate = <0>;
		};
	};

	sd1_pwr_en {
		gpio-hog;
		gpios = <RZV2H_GPIO(A, 3) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd1_pwr_en";
	};

	sdhi1_pins: sd1 {
		sd1_dat_cmd {
			pins = "SD1DAT0", "SD1DAT1", "SD1DAT2", "SD1DAT3", "SD1CMD";
			input-enable;
			renesas,output-impedance = <3>;
			slew-rate = <0>;
		};

		sd1_clk {
			pins = "SD1CLK";
			renesas,output-impedance = <3>;
			slew-rate = <0>;
		};
	};

	rs232_pwr_en {
#if !I2C7_SEL
		gpio-hog;
		gpios = <RZV2H_GPIO(4, 7) GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "rs232_pwr_en";
#endif
	};
	/* cam_pwr_en turns on 1.2V reg, 1.8V_CAM supply and 3.3V_CAM supply. */
	/* Schematic on SOM shows this being PB2/CAM0&1_PWR but it's actually using */ 
	/* P74. And you can trace this from the SOM to the SBC schematic */
	cam_pwr_en {
		gpio-hog;
		gpios = <RZV2H_GPIO(7, 4) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "cam_pwr_en";
	};

	fan_pwr_en {
		gpio-hog;
		gpios = <RZV2H_GPIO(A, 4) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "fan_pwr_en";
	};

	i2c0_pins: i2c0 {
		pinmux = <RZV2H_PORT_PINMUX(3, 0, 1)>, /* I2C0_SDA */
		<RZV2H_PORT_PINMUX(3, 1, 1)>; /* I2C0_SCL */
	};

	i2c1_pins: i2c1 {
		pinmux = <RZV2H_PORT_PINMUX(3, 2, 1)>, /* I2C1_SDA */
		<RZV2H_PORT_PINMUX(3, 3, 1)>; /* I2C1_SCL */
	};

	i2c2_pins: i2c2 {
#if (!I3C_SEL)
		pinmux = <RZV2H_PORT_PINMUX(3, 4, 1)>, /* I2C2_SDA */
			 <RZV2H_PORT_PINMUX(3, 5, 1)>; /* I2C2_SCL */
#endif
	};

	i2c3_pins: i2c3 {
		pinmux = <RZV2H_PORT_PINMUX(3, 6, 1)>, /* I2C3_SDA */
			 <RZV2H_PORT_PINMUX(3, 7, 1)>; /* I2C3_SCL */
	};

	i2c5_pins: i2c5 {
		pinmux = <RZV2H_PORT_PINMUX(4, 2, 1)>, /* I2C5_SDA */
		<RZV2H_PORT_PINMUX(4, 3, 1)>; /* I2C5_SCL */
	};

	i2c6_pins: i2c6 {
		pinmux = <RZV2H_PORT_PINMUX(4, 4, 1)>, /* I2C6_SDA */
			 <RZV2H_PORT_PINMUX(4, 5, 1)>; /* I2C6_SCL */
	};

#if I2C7_SEL
	i2c7_pins: i2c7 {
		pinmux = <RZV2H_PORT_PINMUX(4, 6, 1)>, /* I2C7_SDA */
			 <RZV2H_PORT_PINMUX(4, 7, 1)>; /* I2C7_SCL */
	};
#endif

	i2c8_pins: i2c8 {
		pinmux = <RZV2H_PORT_PINMUX(0, 6, 1)>, /* I2C8_SDA */
			 <RZV2H_PORT_PINMUX(0, 7, 1)>; /* I2C8_SCL */
	};

	usb30_pins: usb30 {
		pinmux = <RZV2H_PORT_PINMUX(6, 0, 14)>; /* VBUS */
	};

	usb31_pins: usb31 {
		pinmux = <RZV2H_PORT_PINMUX(6, 2, 14)>; /* VBUS */
	};

	usb20_pins: usb20 {
		pinmux = <RZV2H_PORT_PINMUX(9, 5, 14)>, /* VBUS */
		<RZV2H_PORT_PINMUX(9, 6, 14)>; /* OVC */
	};

	usb21_pins: usb21 {
		pinmux = <RZV2H_PORT_PINMUX(6, 6, 14)>, /* VBUS */
		<RZV2H_PORT_PINMUX(6, 7, 14)>; /* OVC */
	};

	i3c_pins: i3c {
#if (I3C_SEL)
		pinmux = <RZV2H_PORT_PINMUX(2, 0, 1)>, /* I3C_SDA */
			 <RZV2H_PORT_PINMUX(2, 1, 1)>; /* I3C_SCL */
#endif
	};

	// spi2_pins: spi2 {
	// 	pinmux = <RZV2H_PORT_PINMUX(B, 3, 5)>, /* MISO */
	// 		 <RZV2H_PORT_PINMUX(B, 4, 5)>, /* MOSI */
	// 		 <RZV2H_PORT_PINMUX(A, 7, 5)>, /* SSL */
	// 		 <RZV2H_PORT_PINMUX(B, 5, 5)>; /* RSPCK */
	// };

	// TODO: Chat with Arnon
	// We should switch to use RSPI or I2C as 
	// there is currently no Simple SPI (RSCI) driver in
	// the kernel. Also, make sure to use their dedicated
	// Slave Select pin when using SPI as it will be toggled
	// by the HW regardless.
	// spi4_pins: spi4 {
	// 	pinmux = <RZV2H_PORT_PINMUX(8,  5, 6)>, /* MISO */
	// 		 <RZV2H_PORT_PINMUX(8,  4, 6)>, /* MOSI */
	// 		 <RZV2H_PORT_PINMUX(6,  4, 0)>, /* SSL */
	// 		 <RZV2H_PORT_PINMUX(8,  0, 1)>; /* RSPCK */
	// };

	sound_pins: sound {
		pinmux = <RZV2H_PORT_PINMUX(1, 2, 7)>, /* SSI3_SCK */
		<RZV2H_PORT_PINMUX(1, 3, 7)>, /* SSI3_WS */
		<RZV2H_PORT_PINMUX(0, 4, 7)>, /* SSI3_SDATA */
		<RZV2H_PORT_PINMUX(1, 5, 7)>; /* SSI4_SDATA */
	};

	wifi_sdio_pins: wifi {
		wifi_sdio_data_pins {
		pinmux = <RZV2H_PORT_PINMUX(B, 1, 1)>, //SD2DAT0
			<RZV2H_PORT_PINMUX(B, 2, 1)>, //SD2DAT1
			<RZV2H_PORT_PINMUX(B, 3, 1)>, //SD2DAT2
			<RZV2H_PORT_PINMUX(B, 4, 1)>, //SD2DAT3
			<RZV2H_PORT_PINMUX(B, 5, 1)>; //SD2CMD
		};

		wifi_sdio_clk_pin {
		pinmux = <RZV2H_PORT_PINMUX(B, 0, 1)>; //SD2CLK
		};
	};

	bluetooth_pins: bluetooth {
		pinmux = <RZV2H_PORT_PINMUX(5, 4, 1)>, //SCI2_TXD_MOSI_SDA
		<RZV2H_PORT_PINMUX(5, 5, 1)>, //SCI2_RXD_MISO_SCL
		<RZV2H_PORT_PINMUX(5, 6, 4)>, //SCI2_CTS
		<RZV2H_PORT_PINMUX(5, 7, 2)>; //SCI2_CTS_RTS	
	};
};

&qextal_clk {
	clock-frequency = <24000000>;
};

&ostm2 {
	status = "okay";
};

&ostm3 {
	status = "okay";
};

&scif {
	pinctrl-0 = <&scif_pins>;
	pinctrl-names = "default";

	status = "okay";
};


// TODO: Replace this with the Simple-SPI peripheral

//&sci4 {
// 	pinctrl-0 = <&sci4_pins>;
// 	pinctrl-names = "default";
// 	status = "okay";
// };

// TODO: Replace this with the Simple-SPI peripheral

//&sci5 {
// 	pinctrl-0 = <&sci5_pins>;
// 	pinctrl-names = "default";
// 	status = "okay";
// };

&sdhi0 {
	pinctrl-0 = <&sdhi0_emmc_pins>;
	pinctrl-1 = <&sdhi0_emmc_pins>;
	pinctrl-names = "default", "state_uhs";
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vccq_sdhi0>;
	bus-width = <8>;
	non-removable;
	no-sd;
	no-sdio;
	mmc-hs200-1_8v;
	fixed-emmc-driver-type = <1>;
	status = "okay";
};

&sdhi1 {
	pinctrl-0 = <&sdhi1_pins>;
	pinctrl-1 = <&sdhi1_pins>;
	pinctrl-names = "default", "state_uhs";
	vmmc-supply  = <&reg_3p3v>;
	vqmmc-supply = <&vccq_sdhi1>;
	bus-width    = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	cd-gpios = <&pinctrl RZV2H_GPIO(9, 4) GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&sdhi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&wifi_sdio_pins>;

	// TODO - I think all we need here is the vmmc-supply set to a 3.3Vreg (the Wifi_3v3 reg) 
	// and the mmc-powerseq property to set PMIC_EN
	// As we have learnt, the vmmc-supply property is used to 
	// set the host OCR mask (ie what voltages the host supports).
	// And it needs to be 3v3!
	vmmc-supply = <&wlan_en_pmic>;
	vqmmc-supply = <&reg_1p8v_sdio>;
	bus-width = <4>;
	keep-power-in-suspend;
	non-removable;

	no-sd;
	no-mmc;

	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	status = "okay";
};

&eth0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;

		// NOTE: these properties were copied from pico-e device tree
		eee-broken-1000t;
		rtl821x,clkout-disable;
		};
	};
};

&eth1 {
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;

		// NOTE: these properties were copied from pico-e device tree
		eee-broken-1000t;
		rtl821x,clkout-disable;
		};
	};
};

&i2c8 {
	pinctrl-0 = <&i2c8_pins>;
	pinctrl-names = "default";

	status = "okay";

	// TODO: Missing entries for the PMIC and its RTC, e.g.:

	// pmic: raa215300@12 {
	// 	compatible = "renesas,raa215300";
	// 	reg = <0x12>;

	// 	rtc-enable;
	// };

	// rtc: isl1208@6f {
	// 	compatible = "isil,isl1208";
	// 	reg = <0x6f>;

	// 	external-oscillator;
	// };

	// TODO: Missing entry for DA9141

	versa3: versa3@69 {
		compatible = "renesas,5p35023";
		reg = <0x69>;
		#clock-cells = <1>;
		clocks = <&x1_clk>;
		clock-names = "x1";
		otp-burned;
		32kHz-free-running;

		assigned-clocks = <&versa3 0>,
			<&versa3 1>,
			<&versa3 2>,
			<&versa3 3>,
			<&versa3 4>,
			<&versa3 5>;
		assigned-clock-rates =  <100000000>, <100000000>,
			<24576000>, <22579200>,
			<24576000>, <24000000>;
		clock-divider-read-only = <1>, <1>, <1>, <1>, <1>;
		clock-flags = <2176>, <2176>, <2176>, <2052>, <2176>, <2048>;
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;

	status = "okay";

	ap1302_csi20: ap1302_csi20@3c {
		compatible = "onnn,ap1302";
		reg = <0x3c>;

		clock-names = "csi_mclk";
		clocks = <&clk_ext_camera>;

		reset-gpios = <&cam_gpio 8 GPIO_ACTIVE_LOW>;
		power-gpios = <&cam_gpio 0 GPIO_ACTIVE_LOW>;

		port {
			ap1302_to_csi20: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&csi20_in>;
			};
		};

		sensors {
			#address-cells = <1>;
			#size-cells = <0>;

			onnn,model = "onnn,ar1335";

			sensor@0 {
				reg = <0>;
			};
		};		
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;

	status = "okay";

	ap1302_csi21: ap1302_csi21@3d {
		compatible = "onnn,ap1302";
		reg = <0x3d>;

		clock-names = "csi_mclk";
		clocks = <&clk_ext_camera>;

		reset-gpios = <&cam_gpio 9 GPIO_ACTIVE_LOW>;
		power-gpios = <&cam_gpio 1 GPIO_ACTIVE_LOW>;

		port {
			ap1302_to_csi21: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&csi21_in>;
			};
		};

		sensors {
			#address-cells = <1>;
			#size-cells = <0>;

			onnn,model = "onnn,ar1335";

			sensor@0 {
				reg = <0>;
			};
		};		
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";

	status = "okay";

	mmc5633@30 {
		compatible = "memsic,mmc5633";
		reg = <0x30>;
	};

	sht4x@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";

	status = "okay";

	cam_gpio: gpio@20 { 
		compatible = "nxp,pcal6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
		"ISP_CCM1_PWR_DIS", 
		"ISP_CCM2_PWR_DIS", 
		"CCM1_PWR_DIS", 
		"CCM2_PWR_DIS",
		"ISP_STBY", 
		"ISP_CAM_TRIG", 
		"CCM_TRIG", 
		"nAUDIO_RESET_1V8",
		"ISP_CCM1_RST", 				// CSI0 reset
		"ISP_CCM2_RST", 				// CSI1 reset
		"CCM1_RST", 
		"CCM2_RST",
		"USB2_SEL", 
		"M2_SDIO_RSTn", 
		"TP232", 
		"RS232_INVALIDn";

		// TODO: define GPIO hogs and Interrupt GPIO
		// interrupt-parent = <&pinctrl>;
		// interrupts = <RZV2H_GPIO(8, 7) IRQ_TYPE_LEVEL_LOW>;
		//isp-stby-hog {
		//	gpio-hog;
		//	gpios = <4 GPIO_ACTIVE_HIGH>;
		//	output-low;
		//};

		// TODO - Expose ISP_CAM_TRIG?
	};

	m2_gpio: gpio@21 {
		compatible = "nxp,pcal6416";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
		"M2B-CONFIG_0", 
		"M2B-CONFIG_1", 
		"M2B-CONFIG_2", 
		"M2B-CONFIG_3",
		"M2B_CARD_ONOFFn", 
		"M2_PD_EN", 
		"M2E_BT_WAKE_HOST", 
		"M2B_W_DISABLE2n",
		"M2B_WAKE-UP", 
		"M2B_RSTn", 
		"M2B_DPR", 
		"M2B_FLIGHT_MODE",
		"CAN_STDBY", 
		"M2B_WAKE_HOST", 
		"M2E_BT_ENn", 
		"M2E_WLAN_ENn";
		
		// TODO: define GPIO hogs and Interrupt GPIO
		// interrupt-parent = <&pinctrl>;
		// interrupts = <RZV2H_GPIO(9, 7) IRQ_TYPE_LEVEL_LOW>;
	};

	// TODO: 9FGV0241 (https://lore.kernel.org/all/20220219015003.507601-2-marex@denx.de/T/)

	tlv320aic3x: codec@18 {
		#sound-dai-cells = <0>;
		compatible = "ti,tlv320aic3104";
		clocks = <&tlv320_xtal>;
		reg = <0x18>;
		reset-gpios = <&cam_gpio 7 GPIO_ACTIVE_LOW>;
		ai3x-micbias-vg = <1>;
		AVDD-supply = <&reg_audio_3v3>;
		IOVDD-supply = <&reg_audio_1v8>;
		DRVDD-supply = <&reg_audio_3v3>;
		DVDD-supply = <&reg_audio_1v8>;
	};

	secure-eeprom@64 {
		compatible = "atmel,atsha204a";
		reg = <0x64>;
	};
};

&i2c5 {
	pinctrl-0 = <&i2c5_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "disabled";

	ar1335_csi23: camera@36 {
		compatible = "onsemi,ar1335";
		reg = <0x36>;
		clocks = <&clk_ext_camera>;
		clock-names = "extclk";

		vdd_io-supply = <&reg_1p8v>;
		vaa-supply = <&reg_2p8v>;
		vdd-supply = <&reg_1p5v>;

		reset-gpios = <&cam_gpio 11 GPIO_ACTIVE_LOW>;   /* CCM2_RST */
		power-gpios = <&cam_gpio 3 GPIO_ACTIVE_LOW>;    /* CCM2_PWR_DIS */

		port {
			ar1335_to_csi23: endpoint {
				clock-lanes = <0>;
				data-lanes  = <1 2 3 4>;
				remote-endpoint = <&csi23_in>;
			};
		};
	};
};

&i2c6 {
	pinctrl-0 = <&i2c6_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "disabled";

	ar1335_csi22: camera@36 {
		compatible = "onsemi,ar1335";
		reg = <0x36>;
		clocks = <&clk_ext_camera>;
		clock-names = "extclk";

		vdd_io-supply = <&reg_1p8v>;
		vaa-supply = <&reg_2p8v>;
		vdd-supply = <&reg_1p5v>;

		reset-gpios = <&cam_gpio 10 GPIO_ACTIVE_LOW>;   /* CCM1_RST */
		power-gpios = <&cam_gpio 2 GPIO_ACTIVE_LOW>;    /* CCM1_PWR_DIS */

		port {
			ar1335_to_csi22: endpoint {
				clock-lanes = <0>;
				data-lanes  = <1 2 3 4>;
				remote-endpoint = <&csi22_in>;
			};
		};
	};
};

&du {
	status = "okay";
};

&dsi0 {
    status = "okay";
    ports {
        port@1 {
            dsi0_out: endpoint {
                remote-endpoint = <&adv7533_in>;
                data-lanes = <1 2 3 4>;
            };
        };
    };
};

&pcie0 {
	/* Map all possible DDR as inbound ranges */
	ranges = <0x02000000 0x0 0x30000000 0x0 0x30000000 0x0 0x18000000>;
	dma-ranges = <0x42000000 0 0x40000000 0 0x40000000 0x4 0x00000000>;
	vdd-supply = <&VM2M_3V3>;
	status = "okay";
};

&cru0 {
	status = "okay";
};

&csi20 {
	status = "okay";

	ports {
		port {
		csi20_in: endpoint {
			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			remote-endpoint = <&ap1302_to_csi20>;
		};
		};
	};
};

&cru1 {
	status = "okay";
};

&csi21 {
	status = "okay";

	ports {
		port {
			csi21_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ap1302_to_csi21>;
			};
		};
	};
};

&csi22 {
	status = "disabled";

	ports {
		port@0 {
			reg = <0>;
				csi22_in: endpoint {
				clock-lanes = <0>;
				data-lanes  = <1 2 3 4>;
				remote-endpoint = <&ar1335_to_csi22>;
			};
		};
	};
};

&csi23 {
	status = "disabled";

	ports {
		port@0 {
			reg = <0>;
			csi23_in: endpoint {
				clock-lanes = <0>;
				data-lanes  = <1 2 3 4>;
				remote-endpoint = <&ar1335_to_csi23>;
			};
		};
	};
};

&cru2 {
	status = "disabled";
};

&cru3 {
	status = "disabled";
};

&xhci0 {
	pinctrl-0 = <&usb30_pins>;
	pinctrl-names = "default";

	memory-region = <&global_cma>;
	status = "okay";
};


&usb20phyrst {
	status = "okay";
};


&ohci0 {
	memory-region = <&global_cma>;

	dr_mode = "otg";
	status = "okay";
};


&ehci0 {
	memory-region = <&global_cma>;

	dr_mode = "otg";
	status = "okay";
};


&hsusb {
	dr_mode = "otg";
	status = "okay";
};

&usb2_phy0 {
	pinctrl-0 = <&usb20_pins>;
	pinctrl-names = "default";

	status = "okay";
};


&rtc {
	status = "okay";
};

&canfd {
	pinctrl-0 = <&can1_pins>;
	pinctrl-names = "default";
	status = "okay";
	//renesas,no-can-fd; - enables classic CAN
	channel1 {
		status = "okay";
	};
};

&wdt1 {
	status = "okay";
};

&xspi {
	status = "okay";

	flash@0 {
		compatible = "macronix,mx25u12835f", "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
	};
};

&rcar_sound {
	pinctrl-names = "default";
	pinctrl-0 = <&sound_pins>;
	status = "okay";

	/* audio_clkout */
	#clock-cells = <0>;
	clock-frequency = <12288000>; /* should select audio_clka */
	#sound-dai-cells = <0>;

	rcar_sound,dai {
		dai0 {
			playback = <&ssi3>;
			capture  = <&ssi4>;
		};
	};
};

&ssi4 {
	shared-pin;
};